body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "OswalMedium";
    src: url(./../assets/fonts/OswaldMedium.ttf);
}
@font-face {
    font-family: "OswalRegular";
    src: url(./../assets/fonts/OswaldRegular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(./../assets/fonts/RobotoBold.ttf);
}
@font-face {
    font-family: "RobotoMedium";
    src: url(./../assets/fonts/RobotoMedium.ttf);
}
@font-face {
    font-family: "RobotoRegular";
    src: url(./../assets/fonts/RobotoRegular.ttf);
}

/* header section */

header{
    padding-top: 40px;
    width: 100%;
    height: max-content;
    background-color: #0a1650;
    background-image: url(./../assets/img/banner-overlay-img.png);
    background-size: cover ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}


header div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    width: 31%;
    height: max-content;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav{
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul{
    width: 100%;
    padding-left: 150px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    font-family: RobotoRegular;
    color: white;
    font-size: 15px;
    align-items: center;
}

button{
    width: 140px;
    height: 50px;
    background-color: #0bd2ef;
    border: #0bd2ef 1px solid;
    border-radius: 40px;
    color: white;
}

#HeaderBottom{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 88px;
}

.left{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.right{
    width: max-content;
    display: flex;
    align-items: center;
}


#HeaderButton{
    display: flex;
    gap: 1em;
}

#TitleOfHeader{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#TitleOfHeader h1{
    color: white;
    font-family: RobotoBold;
    font-size: 53px;
} 

#TitleOfHeader p{
    color: white;
    font-size: 14px;
    font-family: RobotoRegular ;
} 

#contactDarkBlue{
    background-color: #2152a1;
    border: 1px solid #2152a1;
}

button:hover, #contactDarkBlue:hover{
    background-color: transparent;
}

@media (max-width:769px) {

    #TitleOfHeader h1{
        color: white;
        font-family: RobotoBold;
        font-size: 40px;
    } 
    
    #TitleOfHeader p{
        color: white;
        font-size: 14px;
        font-family: RobotoRegular ;
    } 

    img[alt="banner-right"]{
        width: 400px;
        height: auto;
    }
    
}
@media (max-width:426px) {

    #TitleOfHeader h1{
        color: white;
        font-family: RobotoBold;
        font-size: 30px;
    } 
    
    #TitleOfHeader p{
        color: white;
        font-size: 10px;
        font-family: RobotoRegular ;
    } 

    img[alt="banner-right"]{
        width: 350px;
        height: auto;
    }
    
    nav ul{
        width: 100%;
        padding-left: 150px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        font-family: RobotoRegular;
        color: white;
        font-size: 20px;
        align-items: center;
    }

    img[alt="logo"]{
        width: 100px;
        height: 100px;
    }
}
@media (max-width:376px) {

    #TitleOfHeader h1{
        color: white;
        font-family: RobotoBold;
        font-size: 25px;
    } 
    
    #TitleOfHeader p{
        color: white;
        font-size: 10px;
        font-family: RobotoRegular ;
    } 

    img[alt="banner-right"]{
        width: 250px;
        height: auto;
    }
    
    nav ul{
        width: 100%;
        padding-left: 150px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        font-family: RobotoRegular;
        color: white;
        font-size: 13px;
        align-items: center;
    }

    img[alt="logo"]{
        width: 100px;
        height: 100px;
    }

    #HeaderTop button{
        width: 100px;
        height: 30px;
    }
}

/* partners section */

#PARTNERS{
    background-color: #0a1650;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#PartnersTop{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#PartnersTop p{
    color: #4599c7;
    font-family: RobotoRegular;
    font-size: 15px;
    margin-bottom: 13px;
}

#PartnersTop h1{
    margin-top: 0px;
    font-family:RobotoBold;
    color: white;
    font-size: 40px;
    margin-bottom: 27px;
}

#PartnersBottom{
    width: 90%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
    margin-bottom: 100px;
}

.sliders{
    background-color: #17256e;
    width: 130px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sliders img{
    width: 90px;
    height: auto;
}
